/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

@import url("//hello.myfonts.net/count/2f4359");

  
@font-face {font-family: 'UniformBold-Bold';src: font-url('2F4359_0_0.eot');src: font-url('2F4359_0_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_0_0.woff2') format('woff2'),font-url('2F4359_0_0.woff') format('woff'),font-url('2F4359_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformExtraCondensedBold-Bold';src: font-url('2F4359_1_0.eot');src: font-url('2F4359_1_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_1_0.woff2') format('woff2'),font-url('2F4359_1_0.woff') format('woff'),font-url('2F4359_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformExtraCondensedMedium-Medium';src: font-url('2F4359_2_0.eot');src: font-url('2F4359_2_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_2_0.woff2') format('woff2'),font-url('2F4359_2_0.woff') format('woff'),font-url('2F4359_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformUltra-Ultra';src: font-url('2F4359_3_0.eot');src: font-url('2F4359_3_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_3_0.woff2') format('woff2'),font-url('2F4359_3_0.woff') format('woff'),font-url('2F4359_3_0.ttf') format('truetype');}

#navtyle {
  margin:1% 0 2% 0;
  color:#333;
  font-family: 'UniformUltra-Ultra';
  font-weight: normal;
  font-size: 100%;
}
