/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

@import url("//hello.myfonts.net/count/2f4359");

  
@font-face {font-family: 'UniformBold-Bold';src: font-url('2F4359_0_0.eot');src: font-url('2F4359_0_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_0_0.woff2') format('woff2'),font-url('2F4359_0_0.woff') format('woff'),font-url('2F4359_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformExtraCondensedBold-Bold';src: font-url('2F4359_1_0.eot');src: font-url('2F4359_1_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_1_0.woff2') format('woff2'),font-url('2F4359_1_0.woff') format('woff'),font-url('2F4359_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformExtraCondensedMedium-Medium';src: font-url('2F4359_2_0.eot');src: font-url('2F4359_2_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_2_0.woff2') format('woff2'),font-url('2F4359_2_0.woff') format('woff'),font-url('2F4359_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniformUltra-Ultra';src: font-url('2F4359_3_0.eot');src: font-url('2F4359_3_0.eot?#iefix') format('embedded-opentype'),font-url('2F4359_3_0.woff2') format('woff2'),font-url('2F4359_3_0.woff') format('woff'),font-url('2F4359_3_0.ttf') format('truetype');}

.jumbotron  {
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    postition: relative;
    
}

.home-index {
    padding: 30% 0 0 0;
    margin: 10% 0 10% 0;
  
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    postition: relative;
}

.home-about {
    padding: 45% 0 0 0;
    margin: 5% 0 5% 0; 
}



.navbar-header {
    float: left;
    padding: 0px;
    width: 100%;
    text-align:center;
}

.navbar-brand {
float:none;

}

#cityintro1 {
  margin:2% 0 0 0;
  font-family: 'UniformUltra-Ultra';
  font-weight: normal;
  font-size: 600%;
}

#cityintro2 {
  margin:0 0 2% 0;
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: 150%;
}

#aboutintro {
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  vertical-align:top;
  padding: 0 3% 5% 10%;
  font-size: 150%;
}

#about_image {
  padding: 0 8% 0 3%;

}

.centered-tabs {  
    text-align: center;
   
}
.centered-tabs ul.nav-tabs {
    display: inline-block;
    border:0px;
}
.centered-tabs li {
    display: inline
}
.centered-tabs a {
    float: left
}


a {
	color:#333;
}

a:hover {
	color:#333;
}

.filters {
  display: block;
  list-style-type: none;

}

.filters li {
  color: #000000;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: 150%;
  margin: 0 0 0 0;
  padding: 0 0 1% 5%;
}

.filters li:hover, .filters li.active { color: #f08b65; }

.filters li:before {
  content: "\2022";
  padding: 0 5%;
  color: #000000;
}

.filters li:first-child:before {
  content: "";
  padding: 0;
}

.projects {
  padding: 1% 1% 1% 1%;
}

.project {
  padding: 1% 1% 1% 1%;
}


#work_title {
  color:#333;
  font-family: 'UniformExtraCondensedBold-Bold';
  font-weight: normal;
  font-size: 150%;
  text-align:center;
}
