.hidden { display: none; }

/*flash*/

.alert-error {
 margin:2% 0 0 0;
 font-family: 'UniformExtraCondensedMedium-Medium';
 font-weight: normal;
 font-size: .9em;
 text-align: left;
}

.alert-alert {
 margin:2% 0 0 0;
 font-family: 'UniformExtraCondensedMedium-Medium';
 font-weight: normal;
 font-size: .9em;
 text-align: left;
}

.alert-success {
 margin:2% 0 0 0;
 font-family: 'UniformExtraCondensedMedium-Medium';
 font-weight: normal;
 font-size: .9em;
 text-align: left;
}

.alert-notice {
  margin:2% 0 0 0;
  font-family: 'UniformExtraCondensedMedium-Medium';
  font-weight: normal;
  font-size: .9em;
  text-align: left;
}

.form-control {
	width: 50%;
}